.article-view
  .article-view__content
    .article-view__top
      button(id='article-change-btn' style='display:none').btn_color-elementary Изменить
      button(data-section='back').btn_color-elementary Назад
    .article-view__author-time
      if typeof author === "object"
        .article-view__author #{author.login}
      else
        .article-view__author Ошибка
      .article-view__time #{datetime}
    .article-view__title #{title}
    .article-view__info
      .article-view__tags
        if Array.isArray(tags)
          each tag in tags.length ? tags : ['']
            a.article-view__tag #{tag}
      .action-btns
          .icon.action-btns_m-right
              .icon__text #{likes || ''}
              .action-btns__likes-icon.icon__img
          .icon.action-btns_m-right
              .icon__text #{comments || ''}
              .action-btns__comments-icon.icon__img
          .icon
              .action-btns__share-icon.icon__img
  img(src=`${previewUrl}`).article-view__main-picture
  .article-view__content
    .article-view__text #{text}
    .article-view__add-comment
        img.article-view__author-photo(src=`${avatarUrl || 'static/img/users/user_icon_loading.svg'}`)
        input(type="text" name="comment" placeholder="Написать комментарий").article-view__comment-input
        button.action-btns__send-icon.icon__img.article-view__send-comment-btn
    .comments(id='comments') !{commentsContent}
