include _onAvatarErrorMixin
mixin tagMixin(content, color, cross=false)
  include tag.pug
.card(id=`card${id}` style=`background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(${previewUrl});
background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(${previewUrl});
background-size: cover;
background-repeat: no-repeat;`)
  .card__top
    .card__top-left
      .card__time-category
        .card__time #{datetime}
        .card__category #{category}
      .tags
        if Array.isArray(tags)
          each tag in tags
            +tagMixin(tag.content, tag.color)
    .card__author
      +avatarMixin.card__author-photo(src=`${author.avatarUrl}`)
      .author-name
        if typeof author === 'object'
          .author-name__login #{author.login}
          .author-name__username #{author.firstName} #{author.lastName}
  .card__content
    a.preview__title #{title}
    .card__description #{text}
  .card__bottom
    .action-btns
      .icon.action-btns_m-right
        .icon__text #{likes}
        button.action-btns__likes-icon.icon__img
      .icon
        .icon__text #{comments}
        button.action-btns__comments-icon.icon__img
