include _onAvatarErrorMixin
include categoryMixin
mixin tagMixin(content, color, cross=false)
  include tag.pug

.card.cursor-pointer(id=`card${id}`)
  .card__image(style=`background-image: url(${previewUrl}); ${previewUrl.endsWith('/img/') ? 'min-height: 0' : ''}`)
    .card__image-top-shadow
      .card__top
        .card__top-left
          .card__time-category
            +categoryMixin(category.categoryContent, category.categoryColor, true)
            .card__time
              .category__content #{datetime}
          .tags__row
            if Array.isArray(tags)
              each tag in tags
                +tagMixin(tag.content, tag.color)
        .card__author
          +avatarMixin.card__author-photo(src=`${author.avatarUrl}`)
          .author-name
            if typeof author === 'object'
              .author-name__login #{author.login}
              .author-name__username #{author.firstName} #{author.lastName}
  .card__description-layout
    .card__title #{title}
    .card__description #{text}
    .card__bottom
      div(data-inplace='place-for-likes')
      .icon
        button.action-btns__comments-icon.icon__img
      .icon__text(id="commentsNum") #{comments || ''}
