include _onAvatarErrorMixin

.comment(id=`${id}` data-author=`${author.login}`)
  .comment__content
    a(href=`/user/${author.login}`)
      +avatarMixin.comment__author-photo(src=`${author.avatarUrl}` data-router='ignore')
    .comment__description
      if (author.lastName !=='' || author.firstName !== '')
        a(href=`/user/${author.login}`).comment__author-name #{author.lastName} #{author.firstName}
      else
        a(href=`/user/${author.login}`).comment__author-name #{author.login}
      .comment__text #{text}
  .comment__bottom
    .action-btns
      if isEdited
        .comment__time изменено #{datetime}
      else
        .comment__time #{datetime}
      button.comment__edit-btn(style='display: none') Изменить
      button.comment__answer-btn Ответить
      div(data-inplace='place-for-likes')
      //- .icon-small.action-btns_m-right
        .icon-small__text #{likes}
        .action-btns__likes-icon.icon-small__img
  .comment__answers !{answers}
