.comment
  .comment__content
    img.comment__author-photo(src=`${author.avatarUrl}`)
    .comment__description
      .comment__author-name #{author.lastName} #{author.firstName}
      .comment__text #{text}
  .comment__bottom
    .action-btns
      if isEdited
        .comment__time изменено #{datetime}
      else
        .comment__time #{datetime}
      //- .action-btns_m-right
      button.comment__answer-btn Ответить
      .icon-small.action-btns_m-right
        .icon-small__text #{likes}
        .action-btns__likes-icon.icon-small__img
  .comment__answers !{answers}
