.preview
    .preview__top
        .card__author
          .author-name
              .author-name__login #{login}
              .author-name__username #{firstName} #{lastName}
          img.card__author-photo(src=`${avatarUrl || 'static/img/users/user_icon_loading.svg'}`)
    .preview__content
        .tags
            if Array.isArray(tags)
                each tag in tags.length ? tags : []
                    .tags__tag.preview__tag #{tag}     
        a(href='#').preview__title #{title}
        .preview__description #{text}
    .card__bottom
        .action-btns
            .icon.action-btns_m-right
                .icon__text #{likes}
                button.action-btns__likes-icon.icon__img
            .icon
                .icon__text #{comments}
                button.action-btns__comments-icon.icon__img