.preview
    .preview__top
        .author-time
            a.author-time__author-name(href=`${authorUrl}`) #{authorName}
            .author-time__time #{time}
    .preview__content
        .tags
            each tag in tags.length ? tags : ['no tags']
                .tags__tag.preview__tag #{tag}
        .preview__title #{title}
        .preview__description #{text}
    .card__bottom
        .btn-more Read more ->
        .action-btns
            .icon.action-btns__first
                .likes.icon__text #{likes}
                .icon-like.icon__img
            .icon
                .comments.icon__text #{comments}
                .icon-comments.icon__img