include _onAvatarErrorMixin

.profile
  .profile__row(id="to-profile-settings" style="display: none;")
    button.btn-color-elementary Настройки
  .profile__info
    +avatarMixin.profile__photo(src=`${avatarUrl}`)
    .profile__description
      .profile__username #{firstName} #{lastName}
      .profile__login #{login}
      if description !== ''
        .profile__aboutme Обо мне: #{description}
      else
        .profile__aboutme
  if (!disableArticles)   
    .profile__articles-title Статьи