.profile
    .profile__info
      img.profile__photo(src=`${avatar}`)
      .profile__description
        .profile__username #{firstName} #{lastName} (#{login}) 
        .profile__aboutme #{aboutme}
    .profile__articles-title Статьи
    .cards !{articles}
    #loading &#11088;