.stream-comment(id=`${id}`)
    .stream-comment__author
        img.stream-comment__author-photo(src=`${author.avatarUrl}`)
        .stream-comment__author-name #{author.firstName} #{author.lastName}
    .stream-comment__text #{text}